@import "src/assets/styles/style";

.inputWrapper {
  position: relative;
  &:first-child {
    margin-top: rem(10);
  }
  margin: rem(30) auto;
}

.formControl {
  display: block;
  line-height: 2em;
  margin: 0;
  width: 100%;
  font-size: medium;
  border: rem(2) solid $ColorMain;
  background-color: $ColorWhite;
  border-radius: rem(36);
  font-weight: 500;
  padding: rem(8) rem(18);
}

.controlLabel {
  background-color: $ColorMain;
  border: rem(1) solid $ColorWhite;
  display: block;
  position: absolute;
  opacity: 0;
  bottom: 1.9rem;
  border-radius: rem(36);
  color: $ColorWhite;
  transition: 0.2s ease-in-out transform;
  font-size: 12px;
  padding: rem(8) rem(18);
}

.formControl:placeholder-shown + .controlLabel {
  visibility: hidden;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.formControl:not(:placeholder-shown) + .controlLabel,
.formControl:focus:not(:placeholder-shown) + .controlLabel {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-7px);
  transition: 0.4s ease-in-out transform;
}
