@import "../../../../assets/styles/style";


.main {
  max-width: 100%;
  @media (max-width: em(1200)) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.title {
  margin-bottom: rem(30);
}

.text {
  margin-bottom: rem(60);
}

.button {
  margin-bottom: rem(30);
  @media (max-width: em(1200)) {
    display: flex;
    justify-content: center;
  }
}
