@import "../../../../assets/styles/style";

.main {
  position: relative;
}

.body {
  padding: rem(3);
  background-color: $ColorMain;
  border-radius: rem(4);
  box-shadow: 0 rem(4) rem(20) rgb(255, 0, 144);
}

.clImage {
  position: relative;
  border-radius: rem(4);
  background-color: $ColorMain;
}

.clImageIbg {
  padding-bottom: percent(250, 234);
}

.tips {
  position: static;
  display: flex;
  justify-content: space-between;
}

.icon {
  position: absolute;
  background-color: $ColorMain;
  width: rem(20);
  height: rem(20);
  border-radius: 50%;
  border: rem(1) solid $ColorWhite;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;

  svg {
    transition: all 0.3s ease 0s;
    width: rem(12);
    height: rem(12);
  }

  path {
    transition: all 0.3s ease 0s;
    fill: $ColorWhite !important;
  }

  @media (any-hover: hover) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.icon01 {
  top: 40%;
  bottom: 50%;
}

.icon02 {
  top: 30%;
  bottom: 50%;
}

.icon03 {
  top: 50%;
  bottom: 50%;
}
