@import "src/assets/styles/style";

.flipCard {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
}

.top,
.bottom,
.flipCard .topFlip,
.flipCard .bottomFlip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.top,
.flipCard .topFlip {
  border-top-right-radius: .1em;
  background-color: $ColorMain;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(152, 152, 152, 0.53);
  color: $ColorWhite;
  font-size: 2rem;
}

.bottom,
.flipCard .bottomFlip {
  background-color: $ColorMain;
  color: $ColorWhite;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
  font-size: 2rem;
}

.flipCard .topFlip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

.flipCard .bottomFlip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: 1em;
}

.containerSegment {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: .1em;
}

.segmentTitle {
  position: absolute;
  z-index: 2;
  bottom: -18px;
  font-size: 1rem;
}
