@use "sass:math";
@import "src/assets/styles/style";

.main {
  position: relative;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: rem(300);
}

.icon {
  path {
    fill: $ColorDark;
  }
}

.text {
  margin-top: rem(10);
  font-weight: 600;
  font-size: rem(20);
  line-height: math.div(32, 20);
  text-align: center;
}
